.App {
  text-align: center;
  margin: 0 auto;
}

.App-logo {
  max-height: 140px;

}

.App-header {
  height: 150px;
  padding: 20px;

}


.features {
  height: 20em;
  max-width: 130em;
  margin: 16em auto;

}

.feature-item {
  font-size: 2.2em;
  text-align: center;
  height: 8em;
  width: 8em;
  margin: 1em 2em;
  display: inline-block;
  background-color: #2bd1c9;
  opacity: 0.9;

}

.feature-item p {
  color: white;
  text-align: center;
  width: 7em;
  height: 3.9em;
  margin: 0 auto;
  padding: 0.5em 0;
}

.feature-item svg {
  height: 72px;
  width: 72px;
  color: white;
  margin: 0.7em 0;
}

.p-background {
  width: 7em;
  height: 4.7em;
  margin: 0 auto;
  padding: 0.6em 0;
  background-color: #FF0069;
  box-shadow: 10px 10px 0px -5px rgba(0,0,0,0.75);
}

.features h1 {
  color: black;
  text-align: center;
  font-size: 3em;
  padding: 1.5em;
  font-weight: bold;
  margin-left: 0.15em;
}

.features > h1::first-letter {
  font-size: 150%;
  color: #FF0069;
}



/* Początek sekcji o zespole*/




div.container {
  display: block;
  padding-bottom: 2%;
  width: 100%;
  max-width: 1400px;
  overflow: hidden;
  background-color: white;
  font-family:Helvetica Neue,Helvetica,Arial,sans-serif;
  text-align: center;
}
div.sylwia {
  background-color: #2bd1c9;
  opacity: 0.9;
  box-shadow: 0 1px 1px;
  border-radius: 1px;
  float: left;
  margin-left: 2%;
  margin-right: 1%;
  width:23%;
  height:500px;

}

div.kajetan {
  background-color: #2bd1c9;
  opacity: 0.9;
  box-shadow: 0 1px 1px;
  border-radius: 1px;
  float: left;
  margin-right: 1%;
  width:23%;
  height:500px;
}
div.natalia {
  background-color: #2bd1c9;
  opacity: 0.9;
  box-shadow: 0 1px 1px;
  border-radius: 1px;
  margin-right: 1%;
  float: left;
  width:23%;
  height:500px;
}
div.olga {
  background-color: #2bd1c9;
  opacity: 0.9;
  box-shadow: 0 1px 1px;
  border-radius: 1px;
  margin-right: 1%;
  float: left;
  width:23%;
  height:500px;
}

div.sylwiabox > h1 {
  font-size: 3em;
  font-style: normal;
  font-weight: bold;
  margin: 3%;
  padding: 4%;

}

div.sylwiabox > h1::first-letter {
  font-size: 150%;
  color: #FF0069;
}

div.sylwiabox p {
  margin: 5%  4% 10%;
  font-style: normal;
  font-size: 15px;
  text-align: justify;
  padding: 6% 8%;
  color: white;
  font-weight: bold;
  background-color: #FF0069;
  box-shadow: 10px 10px 0px -5px rgba(0,0,0,0.75);

}
div.sylwiabox img {
  height: 100%;
  max-height: 166px;
  width: 100%;
  max-width: 156px;
  margin: 2%;

}
section.about_us h3 {
  font-weight: bold;
  margin: 10%;
  color: white;
  font-size: 2em;
  padding-top: 0.5em;
}

.main-bg {
  max-width: 100%;
}

main {
  position: relative;
}

main p {
  position: absolute;
  color: white;
  top: 5em;
  left: 4em;
  font-size: 3em;
}