.App {
  text-align: center;
  margin: 0 auto;
}

.App-logo {
  max-height: 140px;

}

.App-header {
  background-color: yellow;
  height: 150px;
  padding: 20px;

}


.features {
  height: 20em;
  max-width: 130em;
  margin: 16em auto;

}

.feature-item {
  font-size: 2.2em;
  text-align: center;
  height: 8em;
  width: 8em;
  margin: 1em 2em;
  display: inline-block;
  background-color: #217f7b;
  opacity: 0.8;

}

.feature-item p {
  color: white;
  text-align: center;
  width: 7em;
  height: 3.9em;
  margin: 0 auto;
  padding: 0.5em 0;
}

.feature-item svg {
  height: 72px;
  width: 72px;
  color: white;
  margin: 0.7em 0;
}

.p-background {
  width: 7em;
  height: 4.7em;
  margin: 0 auto;
  padding: 0.6em 0;
  background-color: #e26c9e;
  box-shadow: 10px 10px 0px -5px rgba(0,0,0,0.75);
}


/* Początek sekcji o zespole*/

div.container {
  display: block;
  padding-bottom: 2%;
  width: 100%;
  max-width: 1400px;
  overflow: hidden;
  background-color: white;
  font-family:Helvetica Neue,Helvetica,Arial,sans-serif;
  text-align: center;
}
div.sylwia {
  background:linear-gradient(
          rgba(28, 187, 180, 0.1),
          rgba(28, 187, 180, 0.48));
  box-shadow: 0 1px 1px;
  border-radius: 1px;
  float: left;
  margin-left: 2%;
  margin-right: 1%;
  width:23%;
  height:550px;

}

div.kajetan {
  background:linear-gradient(
          rgba(28, 187, 180, 0.1),
          rgba(28, 187, 180, 0.48));
  box-shadow: 0 1px 1px;
  border-radius: 1px;
  float: left;
  margin-right: 1%;
  width:23%;
  height:550px;
}
div.natalia {
  background:linear-gradient(
          rgba(28, 187, 180, 0.1),
          rgba(28, 187, 180, 0.48));
  box-shadow: 0 1px 1px;
  border-radius: 1px;
  margin-right: 1%;
  float: left;
  width:23%;
  height:550px;
}
div.olga {
  background:linear-gradient(
          rgba(28, 187, 180, 0.1),
          rgba(28, 187, 180, 0.48));
  box-shadow: 0 1px 1px;
  border-radius: 1px;
  margin-right: 1%;
  float: left;
  width:23%;
  height:550px;
}

div.sylwiabox > h1 {
  font-size: 3em;
  font-style: normal;
  font-weight: bold;
  margin: 3%;
  padding: 4%;
}

div.sylwiabox > h1::first-letter {
  font-size: 150%;
  color: #FF0069;
}

div.sylwiabox p {
  margin: 15%  3% 10%;
  font-style: normal;
  font-size: 15px;
  font-weight: inherit;
  text-align: justify;
  padding: 0 8% 0 8%;
}
div.sylwiabox img {
  height: 100%;
  max-height: 209px;
  width: 100%;
  max-width: 208px;
  border-radius: 100px;
  box-shadow: 0 0 93px 5px rgba(150, 48, 90,0.7);
  border: 0.5em solid white;
  margin: 2%;
}
section.about_us h3 {
  font-weight: bold;
  margin: 10%;
}
