.App {
  text-align: center;
  margin: 0 auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.features {
  height: 20em;
  width: 130em;
  margin: 16em auto;

}

.feature-item {
  font-size: 2.2em;
  text-align: center;
  height: 8em;
  width: 8em;
  margin: 0 2em;
  display: inline-block;
  background-color: #217f7b;
  opacity: 0.8;

}

.feature-item p {
  color: white;
  text-align: center;
  width: 7em;
  height: 3.9em;
  margin: 0 auto;
  padding: 0.5em 0;
}

.feature-item svg {
  height: 72px;
  width: 72px;
  color: white;
  margin: 0.7em 0;
}

.p-background {
  width: 7em;
  height: 4.7em;
  margin: 0 auto;
  padding: 0.6em 0;
  background-color: #e26c9e;
  box-shadow: 10px 10px 0px -5px rgba(0,0,0,0.75);
}